#root {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/login-background.svg'); // Use your SVG file or convert it to a data URL
    background-size: cover; // Covers entire element but maintains aspect ratio
    background-position: center; // Centers the background
    background-repeat: no-repeat; // No repeating
  }