.plane-svg {
  background-image: url(../../assets/login-paper-plane.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
}
